header {
    color: white;
    background-color:#333;
    text-align: center;
    padding-top:8ex;
    padding-bottom:8ex;
    background: linear-gradient(to bottom, #666666 0%, #444444 30%, #333333 100%) repeat scroll 0% 0% transparent;
}
body {
    background-color:#F3F3F3;
}
ol.slides {
    list-style:none;
    margin-top:4ex;
}
ol.slides > li {
    background-color:#FFF;
    padding:1ex 2em;
    margin-top:4ex;
    margin-bottom:1ex;
    border: 2px solid #DDD;
    box-shadow: none;
    border-radius: 4px;
}
li.slide > *:last-child {
    margin-bottom:20px;
}
header h1 a, header h1 a:visited {
    color:inherit;
    text-decoration:none;
}

header h1 a:hover {
    color:inherit:
    text-decoration:underline;
}